$primary: #FEBD17;
$primary-light: rgba(254, 189, 23, 0.1);
$secondary: #373738;
$gray: #484848;
$gray-light: #ACACAC;
$white: #FFFFFF;

$breakpoint-sm: 530px;
$breakpoint-md: 808px;
$breakpoint-lg: 1064px;
$breakpoint-xl: 1205px;