<template>
  <div class="container">
    <h1>Sorry page not found</h1>
    <router-link class="btn" to="/">go back to home</router-link>
  </div>
</template>

<script>
export default {
  name: "404View",
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn {
    text-decoration: none;
    border-radius: 6px;
    padding: 6px 16px;
    color: $gray;
    background: $primary;
  }
}
</style>
