<template>
  <div class="home">
    <div class="container">
      <section>
        <h1>Just booked</h1>

        <div class="product-container">
          <router-link
            v-for="product in justBookedProduct"
            :key="product.id"
            :to="`/product/${product.id}`"
            class="product"
          >
            <ProductCard :product="product" />
          </router-link>
        </div>
      </section>

      <section>
        <h1>Featured experiences</h1>

        <div class="product-container">
          <router-link
            v-for="product in featuredProduct"
            :key="product.id"
            :to="`/product/${product.id}`"
            class="product"
          >
            <ProductCard :product="product" />
          </router-link>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ProductCard from "@/components/ProductCard";

export default {
  name: "HomeView",
  components: { ProductCard },
  computed: {
    ...mapGetters(["featuredProduct", "justBookedProduct"]),
  },
};
</script>
<style scoped lang="scss">
.container {
  width: 100%;
  margin: 0 auto 32px auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 320px;

  @media (min-width: $breakpoint-sm) {
    max-width: 494px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 731px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 1024px;
  }

  @media (min-width: $breakpoint-xl) {
    width: 1205px;
    max-width: 100%;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .product-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    overflow: hidden;

    .product {
      text-decoration: none;
      color: $secondary;
      box-sizing: border-box;
      margin: 0 10px 31px 10px;
      flex: 0 0 217px;
      width: 217px;
    }
  }
}
</style>
