<template>
  <div class="container" v-if="product.id || product.id === 0">
    <section>
      <div class="product">
        <h1>{{ product.title }}</h1>

        <span class="price">{{ formatPrice(product.price) }}</span>

        <hr class="separator" />

        <p class="description">
          {{ product.description }}
        </p>

        <p class="info">
          Prices valid till 31.10.2019, yearly adjustment for conversion rate to
          EURO
        </p>

        <AddToCartWidget :product="product" />
      </div>

      <div class="image">
        <img
          :src="require(`@/assets/images/products/product_${product.id}.jpg`)"
          :alt="product.title"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import AddToCartWidget from "@/components/AddToCartWidget";

export default {
  name: "ProductView",
  components: { AddToCartWidget },
  computed: {
    ...mapGetters(["featuredProduct", "justBookedProduct"]),
    ...mapState(["products"]),
  },
  data: () => ({
    product: {},
  }),
  mounted() {
    const allProducts = [...this.featuredProduct, ...this.justBookedProduct];
    this.product = allProducts.find(
      (product) => product.id === Number(this.$route.params.id)
    );

    if (!this.product) {
      this.$router.push("/404");
    }
  },
};
</script>
<style scoped lang="scss">
.container {
  width: 100%;
  margin: 0 auto 32px auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 320px;

  @media (min-width: $breakpoint-sm) {
    max-width: 494px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 791px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 1024px;
  }

  @media (min-width: $breakpoint-xl) {
    width: 1205px;
    max-width: 100%;
  }

  section {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }

    .product {
      width: 690px;

      h1 {
        font-size: 3rem;
        font-weight: 900;
        margin: 0 0 20px 0;
      }

      .price {
        color: $primary;
        font-weight: 900;
        margin-bottom: 21px;
        font-size: 1.5rem;
        display: block;
      }

      .description {
        color: $gray;
        margin-top: 21px;
        font-weight: 400;
        line-height: 1.4rem;
        font-size: 1rem;
        white-space: pre-line;
      }

      .info {
        color: $gray-light;
        font-weight: 500;
      }
    }

    .image {
      margin-left: 22px;
      width: 452px;
      margin-bottom: 30px;

      img {
        width: 452px;
      }
    }
  }
}
</style>
