<template>
  <div class="add-to-cart">
    <div class="selector-container">
      <button class="button" @click="decrement">-</button>

      <span class="number"> {{ quantity }} </span>

      <button class="button" @click="increment">+</button>
    </div>

    <button class="btn" @click="addToCart">Add to Cart</button>
  </div>
</template>

<script>
export default {
  name: "AddToCartWidget",
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    quantity: 1,
  }),
  methods: {
    decrement() {
      if (this.quantity === 1) {
        return false;
      }

      this.quantity--;
    },
    increment() {
      // I think limit to 20 it's ok
      if (this.quantity >= 20) {
        return false;
      }

      this.quantity++;
    },
    addToCart() {
      this.$store.dispatch("addToCart", {
        product: this.product,
        quantity: this.quantity,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.add-to-cart {
  display: flex;
}

.btn {
  color: $white;
  background: $primary;
  padding: 16px 20px;
  border-radius: 3px;
  border: none;
  outline: 0 none;
  cursor: pointer;
  margin-left: 16px;
  font-weight: 500;
  font-size: 1rem;
}

.selector-container {
  background: rgba(229, 229, 229, 0.5);
  padding: 6px;
  border-radius: 3px;

  .button {
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .number {
    text-align: center;
    border: 0;
    background: transparent;
    padding: 0 6px;
    height: 30px;
    width: 36px;
    box-sizing: border-box;
  }
}
</style>
