<template>
  <header>
    <router-link to="/" class="logo">
      <img :src="require('@/assets/images/logo.svg')" alt="DeWalt" />
    </router-link>

    <div class="cart-container">
      <HeaderCartWidget />
    </div>
  </header>
</template>

<script>
import HeaderCartWidget from "@/components/HeaderCartWidget";
export default {
  name: "AppHeader",
  components: { HeaderCartWidget },
};
</script>

<style scoped lang="scss">
header {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  padding: 0 0 0 20px;
  align-items: center;
  margin-bottom: 52px;
}

.logo {
  img {
    display: block;
    margin: 0;
    width: 158px;
  }
}

.cart-container {
  border-left: 1px solid $primary-light;
  margin-left: auto;
  padding-left: 17px;
  height: 100%;
  display: flex;
  align-items: center;
}
</style>
