<template>
  <div class="cart-wrapper">
    <div v-if="!cart.length">
      <h2>Your cart is empty</h2>
      <p>Choose a product</p>
    </div>

    <ul class="cart" v-else>
      <li class="cart-item" v-for="product in cart" :key="product.id">
        <div class="cart-item-header">
          <div class="title">{{ product.title }}</div>

          <div class="sep"></div>

          <img
            class="icon"
            :src="require('@/assets/images/icons/trash.svg')"
            alt=""
            @click="deleteCartItem(product)"
          />
        </div>

        <div class="prices-container first">
          <div class="prices">
            <span class="unit">
              {{ product.quantity }}x {{ formatPrice(product.price) }}
            </span>

            <span class="total">
              {{ formatPrice(product.quantity * product.price) }}
            </span>

            <span class="empty-space"></span>
          </div>
        </div>
      </li>
    </ul>

    <hr class="separator" />

    <div class="prices-container">
      <div class="total">
        <div class="text">Total</div>

        <div class="total-price">{{ formatPrice(totalPrice) }}</div>

        <button class="btn" v-if="!cart.length" @click="$emit('close')">
          Close
        </button>

        <button class="btn" v-else @click="$emit('validate')">Validate</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from "vuex";

export default {
  name: "CartDetails",
  computed: {
    ...mapState(["cart"]),
    ...mapGetters(["totalPrice"]),
  },
  data: () => ({
    openDetail: false,
  }),
  methods: {
    ...mapMutations({
      deleteCartItem: "DELETE_CART_ITEM",
    }),
  },
};
</script>

<style scoped lang="scss">
.cart-wrapper {
  padding: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: 500;

  .cart {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cart-item {
    margin-bottom: 40px;

    &-header {
      display: flex;
      align-items: center;

      .sep {
        width: 100%;
        height: 1px;
        background: $primary-light;
        margin: 0 20px;
      }

      .icon {
        width: 15px;
        cursor: pointer;
      }

      .title {
        flex-shrink: 0;
      }
    }
  }

  .prices-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    &.first {
      padding: 0 0 0 16px;
      @media (min-width: $breakpoint-sm) {
        padding: 0;
      }
    }
  }

  .total,
  .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;

    .btn {
      background: $primary;
      border: 0 none;
      border-radius: 3px;
      color: $white;
      font-weight: 500;
      padding: 6px;
      width: 99px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .total .text,
  .prices .unit {
    width: 160px;
    text-transform: uppercase;
  }

  .unit {
    color: $gray-light;
  }

  .total-price {
    color: $primary;
    font-weight: 700;
  }

  .prices {
    .total {
      flex: 0;
    }
    .empty-space {
      display: flex;
      width: 99px;
    }
  }
}
</style>
