<template>
  <div class="cart-wrapper">
    <div
      class="overlay"
      v-if="openDetail"
      @click="openDetail = !openDetail"
    ></div>

    <div class="cart" @click="openDetail = !openDetail">
      <img
        class="icon"
        :src="require('@/assets/images/icons/cart.svg')"
        alt=""
      />
      <span class="text">Shopping-cart</span>
      <span class="count">{{ totalQuantity }}</span>
    </div>

    <div class="cart-details" v-if="openDetail">
      <CartDetails @validate="validateCart" @close="openDetail = false" />
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import CartDetails from "@/components/CartDetails";

export default {
  name: "HeaderCartWidget",
  components: { CartDetails },
  computed: {
    ...mapState({
      totalQuantity: (state) => state.cart.length,
    }),
  },
  data: () => ({
    openDetail: false,
  }),
  methods: {
    ...mapMutations({
      clearCart: "CLEAR_CART",
    }),
    validateCart() {
      this.openDetail = false;
      this.clearCart();
    },
  },
};
</script>

<style scoped lang="scss">
.cart-wrapper {
  height: 100%;
  position: relative;

  .overlay {
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    inset: 0;
  }
}

.cart-details {
  position: absolute;
  width: 100vw;

  @media (min-width: $breakpoint-lg) {
    width: 350%;
    max-width: 730px;
  }

  z-index: 20;
  background: $white;
  right: 0;
  top: 100%;
}

.cart {
  display: flex;
  align-items: center;
  color: $gray-light;
  cursor: pointer;
  position: relative;
  z-index: 20;
  background: $white;
  padding: 0 45px;
  height: 100%;

  .icon {
    width: 28px;
    margin-right: 18px;
  }

  .text {
    font-size: 0.75rem;
    margin-right: 18px;
    font-weight: 400;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: $white;
    background: $primary;
    font-weight: 500;
    border-radius: 50%;
  }
}
</style>
