<template>
  <div>
    <div class="image">
      <img
        :src="require(`@/assets/images/products/product_${product.id}.jpg`)"
        :alt="product.title"
      />
    </div>

    <div class="product">
      <div class="title-row">
        <span class="tile">
          {{ product.title }}
        </span>

        <span class="price">
          {{ formatPrice(product.price) }}
        </span>
      </div>

      <hr class="separator" />

      <p class="description">
        {{ product.excerpt }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductCard",
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.image {
  display: block;
  margin: 0 0 10px 0;
}

.product {
  .title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;

    .price {
      color: $primary;
    }
  }

  .description {
    color: $gray;
    font-weight: 400;
  }
}
</style>
