<template>
  <div id="app">
    <AppHeader />
    <router-view />
  </div>
</template>

<script>
import AppHeader from "@/components/AppHeader";
export default {
  components: { AppHeader },
  mounted() {
    this.$store.dispatch("getProducts");
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary;
}

hr.separator {
  margin: 10px 0;
  padding: 0;
  border: 0 none;
  height: 5px;
  background: $primary-light;
}
</style>
